nav[class^="alert"] a[class^="btn"] {
  text-decoration: none;
  margin-right: 15px;
}

.buscar {
  float: left;
  width: 70%;
  margin-right: 10px;
  height: 38px;
}

.imagenUsuario {
  border-radius: 30%;
  width: 30px;
}

.comentarioComent {
  color: grey;
  margin-left: 43px;
}

.adminProductos [class^="btn"] {
  margin-right: 15px;
}

.nuevoComentario {
  height: 270px;
  border: 1.5px solid gainsboro;
}

.nuevoComentario h2 {
  text-align: center;
}
